name: Build & Push images to GHCR

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  push-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push web
        uses: docker/build-push-action@v6
        with:
          context: ./web
          push: true
          tags: |
            ghcr.io/NoOneIsHere93/day4-web:latest
            ghcr.io/NoOneIsHere93/day4-web:${{ github.sha }}

      - name: Build & push api
        uses: docker/build-push-action@v6
        with:
          context: ./api
          push: true
          tags: |
            ghcr.io/NoOneIsHere93/day4-api:latest
            ghcr.io/NoOneIsHere93/day4-api:${{ github.sha }}

